<app-header></app-header>

<div class="container">
  <form [formGroup]="editarFor" (ngSubmit)="postForm(editarFor.value)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" placeholder="Nombre del pokemons" formControlName="nombre" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Tipo</label>
      <input type="text" class="form-control" placeholder="tipo de pokemons" formControlName="tipo" />
    </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">ataque</label>
      <input type="number" class="form-control" placeholder="ataque del pokemons" formControlName="ataque" />
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">defensa</label>
      <input type="number" class="form-control" placeholder="defensa del pokemons" formControlName="defensa" />
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">velocidad</label>
      <input type="text" class="form-control" placeholder="velocidad del pokemons" formControlName="velocidad" />
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">imgs</label>
      <input type="text" class="form-control" placeholder="imgs del pokemons" formControlName="imgs" />
    </div>
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary">Editar</button>
  <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
  <button type="button" class="btn btn-secondary izq" (click)="regresar()">Regresar</button>
  </form>
</div>

<app-footer></app-footer>
