<app-header></app-header>

<div class="container">
  <form [formGroup]="nuevoFor" (ngSubmit)="postForm(nuevoFor.value)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" placeholder="Nombre del pokemons" formControlName="nombre" required/>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Tipo</label>
      <input type="text" class="form-control" placeholder="tipo de pokemons" formControlName="tipo" required/>
    </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">ataque</label>
      <input type="number" class="form-control" placeholder="ataque del pokemons" formControlName="ataque" required/>
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">defensa</label>
      <input type="number" class="form-control" placeholder="defensa del pokemons" formControlName="defensa" required />
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">velocidad</label>
      <input type="text" class="form-control" placeholder="velocidad del pokemons" formControlName="velocidad" required/>
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
      <label for="exampleFormControlInput1">imgs</label>
      <input type="text" class="form-control" placeholder="imgs del pokemons" formControlName="imgs" required />
    </div>
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary">Agregar</button>
  <button type="button" class="btn btn-secondary izq" (click)="regresar()">Regresar</button>
  </form>
</div>

<app-footer></app-footer>

