<app-header></app-header>
<div class="container">

  <h3>Lista de pokemones</h3> <br>
  <button type="button" class="btn btn-primary" (click)="nuevoPokemon()">Nuevo Pokemon</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">ataque</th>
      <th scope="col">defensa</th>
      <th scope="col">velocidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemones" (click)="editarPokemon(pokemon.id_pokemon)">
      <th scope="row">{{pokemon.id_pokemon}}</th>
      <td>{{pokemon.nombre}}</td>
      <td>{{pokemon.tipo}}</td>
      <td>{{pokemon.ataque}}</td>
      <td>{{pokemon.defensa}}</td>
      <td>{{pokemon.velocidad}}</td>
    </tr>
  </tbody>
</table>
</div>
<app-footer></app-footer>
